
<footer>
    <div class="container">
        <div>
            <h3>Openingstijden</h3>
            <ul>
                <li>Maandag t/m Zondag</li>
                <li>07:00-01:00</li>
            </li>
            </ul>
        </div>
    
        <div>
            <h3>Adres</h3>
            <ul>
                <li>Hannie Dankbaarpassage 47</li>
                <li>1053 RT Amsterdam</li>
                <li>Nederland</li>
            </ul>
        </div>
    
        <div>
            <h3>Volg ons</h3>
            <ul>
                <li><a target="_blank" href="https://www.facebook.com/HallenAmsterdam/">Facebook</a></li>
                <li><a target="_blank" href="https://www.instagram.com/dehallen.amsterdam/">Insta</a></li>
            </ul>
        </div>

        <div>
            <ul>
                <li><a href="">Route</a></li>
                <li><a href="">Bezoek</a></li>
            </ul>           
        </div>
    </div>
</footer>

</body>
</html>