<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>De Hallen</title>

    <link rel="stylesheet" href="/assets/style.css">

     <!-- GOOGLE FONTS -->
    
     <!-- EINDE GOOGLE FONTS -->
    
    <script src="./scripts/client.js" defer></script>
  </head>
  <body>  
    <!-- <h1>Squadpage</h1> -->